:root {
    --primary-color: #e41827;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
}